<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#about">Daniel Duspiwa</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">CV</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
        <div class="container">

            <!-- Portfolio Item Heading -->
            <section id="about">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Daniel Duspiwa, 
                        <small>    Programmer</small>
                    </h1>
                </div>
            </div>
    </section>
        <!-- /.row -->

        <!-- Portfolio Item Row -->

    <section id="services">
            <div class="row">

                <div class="col-md-8">
                    <img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11218695_10153452379351484_4764314948229080909_n.jpg?oh=d5538dfb406c8107ba70504696c4d970&oe=5615AFBE" alt="">
                </div>

                <div class="col-md-4">
                    <h3>Curiculum Vittae</h3>
                    <p>Born in Paris 1987, I am living in Berlin as a jazz musician. When I was touring in south east Asia with a developer in my band, I decided to learn how to code. Starting with Ruby, and Ruby on rails, I discovered a great joy and a lot of fun for this profession. Now i did some projects and I am willing to work as a software developer professionally. </p>

                    <h3>Experience</h3>
                    <ul>
                        <li>Intensive learning online</li>
                        <li>Private courses with Senior developer <a href="https://github.com/rstrobl">Robert Strobl</a></li>
                        <li>Many App deployed already</li>
                        <li>Speak fluent english, german and french</li>
                        <li>Pro Jazz musician since 10 years (good creativity scales)</li>
                         <li>Certificate of SOLlern School for <a href="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11755802_10153488158851484_4839926207619291558_n.jpg?oh=c7c07fd9e22d0233f7135f5195afb7ba&oe=56130056">SQL</a></li>
                          <li>Certificate of SOLlern School for <a href="http://www.sololearn.com/Certificate/JavaScript/pdf/">JavaScript</a></li>
                    </ul>
                    <h3>Competences</h3>
                    <ol>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>SQL</li>
                        <li>Ruby</li>
                        <li>Ruby on Rails</li>
                        <li>Git</li>
                        <li>Heroku</li>
                        <li>Bootstrap</li>
                        <li>Devise</li>
                        <li>Paperclip / S3</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                
                <a target="_blank" href="http://publika.herokuapp.com/#portfolioModal1">Music Label
                    <img class="img-responsive portfolio-item" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11102670_503595229772661_3909219326277407857_n.png?oh=024e743bf8c074030efa8c0ad3f20b02&oe=5655A45B" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                
                <a target="_blank" href="https://publikablog.herokuapp.com">Blog
                    <img class="img-responsive portfolio-item" src="https://blog.udemy.com/wp-content/uploads/2013/07/learnruby-300x300.jpg" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a target="_blank" href="https://learnswingbop.herokuapp.com">Learn Music
                    <img class="img-responsive portfolio-item" src="http://www.swingbopers.com/uploads/2/6/2/1/26218156/1162994_orig.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                
                <a target="_blank" href="https://zinedinetodo.herokuapp.com">Things to do 
                    <img class="img-responsive portfolio-item" src="http://www.pickmeorganisers.com/wp-content/uploads/to-do.jpg" alt="">
                </a>
            </div>
            



            
            
        <!-- /.row -->

        <hr><br>

        <!-- Footer -->

        <footer>
            <div class="col-md-4">
                <h3 class="page-header">Contact</h3>
            </div>
            
            <div class="row">
                <section id="contact">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-phone fa-fw"></i>  Phone : 01765566997</li>
                                <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:gpt1k7@hotmail.com">Write me here</a></li>
                                <li><a href="https://github.com/Duspiwa">Github</a></li>
                            </ul>
                </section>

            </div>
                 
           
            <!-- /.row -->
        
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>

</html>
