<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

   
 

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Daniel Duspiwa</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cv">CV</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
       <header>
        <div class="container">
             <div class="intro-text">
                 <div class="intro-lead-in">
                     <div class="intro-heading">
                            <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h1 class="page-header"> Daniel Duspiwa, 
                                                <small>    Programmer</small>
                                            </h1>
                                        </div>
                                    </div>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
    </header>


        <div class="container">

            <!-- Portfolio Item Heading -->
            
        <!-- /.row -->

        <!-- Portfolio Item Row -->

    <section id="about">
        <div class="container">
            <div class="row">

              <div class="col-md-8">
                   
                      <img class="img-responsive" src="/assets/daniel.jpeg" alt="rss feed" width="304" height="236" />
                 </div>
          


                <div class="col-md-4">
                    <h3>Curiculum Vittae</h3>
                    <p>Born in Paris 1987, I am living in Berlin as a jazz musician. When I was touring in south east Asia with a developer in my band, I decided to learn how to code. Starting with Ruby, and Ruby on rails, I discovered a great joy and a lot of fun for this profession. Now i did some projects and my Certifacate for RoR in the school "Future Training" in Berlin, I am willing to work as a software developer professionally. </p><br>

                      </div>
             </div>
        </div>
     </section>
                  <section id="cv">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h3 class="section-heading">Experience</h3>
                                    <h5 class="section-subheading text-muted">What did I do, what did I learn</h3>
                                
                          
                           

                                    
                                    <ul >
                                        <p>Intensive learning online</p>
                                         <p>Certificate of Future Training School for Ruby on Rails </p>
                                         <p>Certificate of SOLlern School for <a href="/assets/SQL.jpg">SQL</a> </p>
                                          <p>Certificate of SOLlern School for <a href="/assets/JavaScript.jpg">JavaScript</a></p>
                                        <p>Private courses with Senior developer <a href="https://github.com/rstrobl">Robert Strobl</a></p>
                                        <p>Many App deployed already</p>
                                        <p>Speak fluent english, german and french</p>
                                        <p>Pro Jazz musician since 10 years (good creativity scales)</p>
                                        <p>I am convinced that Test Driven Development is a good approach to write good software</p>
                                        <p>I am passionate in learning new technologies </p>
                                        <p>I know how to use version control systems (git)</p>
                                        <p>I have experience with relational databases </p>
                                        
                                    </ul>
                                     <h3 class="section-heading">Competence</h3>
                                    <ol>
                                        <p>HTML</p>
                                        <p>CSS</p>
                                        <p>JavaScript</p>
                                        <p>SQL</p>
                                        <p>Ruby</p>
                                        <p>Ruby on Rails</p>
                                        <p>Git</p>
                                        <p>Heroku</p><br>
                                            <h5>Used gems : </h5> 
                                            <ul>

                                            <p>Bootstrap</p>
                                            <p>Devise</p>
                                            <p>Paperclip / S3</p>
                                            <p>Cucumber</p>
                                            <p>Rspec</p>
                                            <p>Factory-Girl</p>
                                            <p>Capybara</p>
                                            </ul>
                                    </ol>
                                </div>
                            </div>
                            </div>

                 </div>
             </section>
        <!-- /.row -->

        <!-- Related Projects Row -->
    <section id="projects">
        <div class="row">

             <div class="col-lg-12 text-center">
                <h3 class="page-header">Related Projects</h3>
            </div>

              <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                      <div class="col-sm-3 col-xs-6">
                                                <a target="_blank" href="http://publika.herokuapp.com/#portfolioModal1">Music Label
                                                    <img src="assets/publika.png" class="img-responsive" alt="">
                                                    </a>
                                         </div>

                                        <div class="col-sm-3 col-xs-6">
                                            
                                            <a href="https://twittster.herokuapp.com/">Twittster
                                                <img class="img-responsive portfolio-item" src="http://girlsjustwanna.wpengine.netdna-cdn.com/wp-content/uploads/2013/12/888_1_sad-twitter-logo.png" alt="">
                                            </a>
                                        </div>

                                        <div class="col-sm-3 col-xs-6">
                                            <a  href="https://learnswingbop.herokuapp.com">Learn Music
                                                <img class="img-responsive portfolio-item" src="http://www.swingbopers.com/uploads/2/6/2/1/26218156/1162994_orig.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            
                                            <a href="https://zinedinetodo.herokuapp.com">Things to do 
                                                <img class="img-responsive portfolio-item" src="http://www.pickmeorganisers.com/wp-content/uploads/to-do.jpg" alt="">
                                            </a>
                                        </div>
                             </div>
                         </div>
                    </div>

                </section>
            



            
            
        <!-- /.row -->

        <hr><br>

       
   

</body>


 <!-- Footer -->


<footer class="footer">

    <section id="contact">

      <big>
        MAIL TO : <a href="mailto:gpt1k7@hotmail.com/">Duspiwa Daniel</a></br>
        PORTFOLIO : <a href="https://github.com/Duspiwa">Github </a><br>
        <i class="fa fa-phone fa-fw"></i>  Phone : 01765566997
      </big>
      <nav>
        <ul>
          <li><%= link_to "About",   '#about' %></li>
          
        </ul>
      </nav>

    </section>
    </footer>
     <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>



</html>
